body {
    margin: 2px;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.grid_cont {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 1px 1px;
}

header {
    background-color: yellow;

    grid-area: 1 / 1 / 2 / 6;

}

main {
    background-color: red;

    grid-area: 2 / 1 / 5 / 6;
}

footer {
    background-color: blue;

    grid-area: 5 / 1 / 6 / 6; 

}
